<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- axios link -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--fonts links-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap" rel="stylesheet">
    <!--fonts links-->
    <!--font awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--This is icon link-->
    <!-- star.css ko link krnge -->
    <!-- style sheets -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/star.css">
    <title>Shopping Cart</title>
</head>
<body class="d-flex flex-column vh-100">

    <header>
        <%- include('../partials/navbar') %>
    </header>

    <!-- logic for body -->
    <main >
        <%- body -%> 
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <!-- means body tag ka use kr rhe hai y ejs mate engine ki help se likh rhe hai -->
    <!-- beacuse har page ka layout same hoga only body tag ka content change hoga that'swhy humne boilerplate file banayi hai bcz kisi bhi page pr req send krenge toh har page ka layout same hoga (isliye boilerplate file banayi hai layout folder ke andar) ,only body ke andar ka content change hoga ... isliye scriplet tag ke andar body tag likha hai  -->

    <!-- bootstrap js link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


<!-- landing page=> means jab hum kisi website pr visit krte hai(website ko open krte hai)toh sabse pehle jo page show hota hai hume dikhta hai that is landing page means root route(/ wala) ....-->